
@font-face {
  font-family: 'DM Sans';
  src: url(../dm-sans-cufonfonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'DM Sans';
  src: url(../dm-sans-cufonfonts/DMSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../dm-sans-cufonfonts/DMSans-Italic.ttf);
  font-style: italic, oblique;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../dm-sans-cufonfonts/DMSans-Medium.ttf);
  font-weight: medium;
}

html {
  font-family: 'DM Sans';
}
